MONGO_URI=mongodb+srv://couresbackend_db_user:KmBW5O7g9ZRmFkwd@cluster0.zr7qfte.mongodb.net/dzshop
JWT_SECRET=dzshop_secrete_123456
PORT=5000
GOOGLE_CLIENT_ID=224594340339-0tm8uevii450eptf57augak5j5ctd6v7.apps.googleusercontent.com

FRONTEND_URL=http://localhost:5173/
